body{
	background-size: 100% 100%;
	background-image: url('../images/bg3.jpeg');
	background-repeat: no-repeat;
}
div.ds{		
	margin:70px;
	height:76.5vh;
	border: 2px solid black;
	background-image: url('../images/bg7.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 10px 10px 5px grey;
	
	
	border-radius: 30px;

	color: white
}
#head{
    
	text-decoration: none;
	padding-left: 35%;
	display: inline-block;
	text-align: center;
	font-family: "comic sans ms";
	color: orange;
}
img{
	float: right;
	display: inline-block;
	height: 45px;
	width: 45px;
	color:red;
	border-radius: 1px solid white;
	
	margin: 5px;

}
img.hwo:hover {
	size: 125%;
	height: 90px;
	width: 90px;
	box-shadow: 10px 10px 5px grey;
	border-radius: 3px;
}
a{	font-size: 40px;
	color: purple;
	text-decoration-color: orange;
	text-decoration: none;
}
a.ho:hover{
	color: #f7703d;
	text-decoration: none;
	font-size: 50px;
	text-shadow: 10px 10px 5px grey;
}
div.lp{
    display: inline-block;
    color: bisque;
    float: left;
    height: 300px;
    width:400px;
    font-family: "comic sans ms";
    margin-left: 20px;
    font-size: 100px;
    text-shadow: 10px 10px 5px grey;
}
div.rp{
    display: inline-block;
    font-family: "comic sans ms";
    color: black;
    font-size: 18px;
    background-color: rgba(196, 215, 255, 0.973);
    float: right;
    opacity: 80%;
    height: 300px;
    width:600px;
    border: 1px solid black;
    margin-right: 20px;
    padding: 5px;
    
    border-radius: 30px;
}

