body{
	background-size: 100% 100%;
	background-image: url('../images/bg3.jpeg');
	background-repeat: no-repeat;
}
div.ds{		
	margin:70px;
	height:76.5vh;
	border: 2px solid black;
	background-image: url('../images/tirth1.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 10px 10px 5px grey;
	
	
	border-radius: 30px;

	color: white
}
#head{
    
	text-decoration: none;
	padding-left: 35%;
	display: inline-block;
	text-align: center;
	font-family: "comic sans ms";
	color: orange;
}
img{
	float: right;
	display: inline-block;
	height: 45px;
	width: 45px;
	color:red;
	border-radius: 1px solid white;
	
	margin: 5px;

}
img.hwo:hover {
	size: 125%;
	height: 90px;
	width: 90px;
	box-shadow: 10px 10px 5px grey;
	border-radius: 3px;
}
a{	font-size: 40px;
	color: purple;
	text-decoration-color: orange;
	text-decoration: none;
}
a.ho:hover{
	color: #f7703d;
	text-decoration: none;
	font-size: 50px;
	text-shadow: 10px 10px 5px grey;
}